<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body> -->
  <%- include("header") -%>
    <h1>Contact details</h1>
    <p>Contact Number: 00000000000</p>
    <p>Email: dummy9842@email.com</p>
  <%- include("footer") -%>
  <!-- </body>
</html> -->
