<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sarvaday Farms</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <ul>
      <li><a action="/" href="home">Home</a></li>
      <li><a action="/aboutus"  href="aboutus">About US</a></li>
      <li><a action="/contacts"  href="contacts">Contact</a></li>
    </ul>
